beautifulsoup4==4.12.3
bs4==0.0.2
colorama==0.4.6
contourpy==1.3.1
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
distlib==0.3.9
docutils==0.21.2
Eel==0.18.1
entrypoints==0.4
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
h11==0.14.0
htbuilder==0.9.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.0
mdurl==0.1.2
narwhals==1.25.2
numpy==2.2.0
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.6
plotly==6.0.0
prometheus_client==0.21.1
protobuf==5.29.3
ptyprocess==0.7.0
pyarrow==19.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
setuptools==75.6.0
sh==2.1.0
shiboken6==6.8.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
st-annotated-text==4.0.2
st-theme==1.2.3
starlette==0.45.3
streamlit==1.42.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
telebot==0.0.5
urllib3==2.2.3
uvicorn==0.34.0